<main role="main" class="inner cover text-center">
  <h1 class="cover-heading my-5">
    <%= t('views.pages.about.title') %>
  </h1>

  <p class="lead my-5">
    <blockquote class="blockquote">
      <p class="mb-0">
        <%= t('views.pages.about.quotation.content') %>
      </p>

      <footer class="blockquote-footer">
        <%= t('views.pages.about.quotation.authors') %>

        <cite title="Qualified Immunity: Explained">
          <%= link_to 'Qualified Immunity: Explained', 'https://theappeal.org/qualified-immunity-explained/' %>
        </cite>
      </footer>
    </blockquote>
  </p>

  <p class="my-5">
    <%= t('views.pages.about.quotation.summary_html') %>
  </p>

  <div class="embed-responsive embed-responsive-16by9 mb-5">
    <iframe class="embed-responsive-item"
            src="https://www.youtube.com/embed/km4uCOAzrbM?start=484&end=578"
            allowfullscreen>
    </iframe>
  </div>

  <p class="lead my-5">
    <a href="https://www.markey.senate.gov/imo/media/doc/Qualified%20Immunity%20resolution.pdf" class="btn btn-lg btn-secondary">
      <%= t('views.pages.about.resolution_link_title') %>
    </a>
  </p>
</main>