<main class="container text-center" role="main">
  <h1 class="my-5">
    <%= t('.title') %>
  </h1>

  <div class="row">
    <div class="col-sm-8 col-md-6 mx-auto">
      <blockquote class="lead blockquote">
        <p class="mb-0">
          <%= t('.quotation.content') %>
        </p>

        <footer class="blockquote-footer">
          <%= t('.quotation.authors') %>

          <cite title="Qualified Immunity: Explained">
            <%= link_to 'Qualified Immunity: Explained', 'https://theappeal.org/qualified-immunity-explained/' %>
          </cite>
        </footer>
      </blockquote>

      <p class="my-5">
        <%= t('.quotation.summary_html') %>
      </p>

      <div class="embed-responsive embed-responsive-16by9 mb-5">
        <iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/km4uCOAzrbM?start=484&end=578"
                allowfullscreen>
        </iframe>
      </div>

      <p class="lead my-5">
        <a class="btn btn-lg btn-outline-custom-dark"
           href="https://www.markey.senate.gov/imo/media/doc/Qualified%20Immunity%20resolution.pdf">
          <%= t('.resolution_link_title') %>
        </a>
      </p>
    </div>
  </div>
</main>