<main class="byc-masthead byc-masthead-background-style-1" role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-10 text-center text-md-left">
        <h1 class="mb-3">
          <%= t('.instructions.title') %>
        </h1>

        <p class="lead mb-5">
          1. <%= t('.instructions.step_1') %><br />
          2. <%= t('.instructions.step_2') %><br />
          3. <%= t('.instructions.step_3') %><br />
          4. <%= t('.instructions.step_4') %>
        </p>

        <div class="d-flex flex-column flex-md-row">
          <%= link_to '(775) 204-8432', 'tel:7752048432',
                class: 'btn btn-lg btn-custom-dark mb-3 mr-md-3' %>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="byc-masthead-followup">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-3 text-center">
          <%= t('.scripts.title') %>
        </h1>
      </div>

      <div class="col-md-6">
        <div class="card my-5 text-body" >
          <div class="card-body">
            <h2 class="card-title mb-4">
              <%= t('.scripts.senate.title') %>
            </h2>

            <p class="card-text">
              <%= t('.scripts.senate.paragraph_1_html') %>
            </p>

            <p class="card-text">
              <%= t('.scripts.senate.paragraph_2') %>
            </p>

            <p class="card-text">
              <%= t('.scripts.senate.paragraph_3') %>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card my-5 text-body" >
          <div class="card-body">
            <h2 class="card-title mb-4">
              <%= t('.scripts.house.title') %>
            </h2>

            <p class="card-text">
              <%= t('.scripts.house.paragraph_1_html') %>
            </p>

            <p class="card-text">
              <%= t('.scripts.house.paragraph_2') %>
            </p>

            <p class="card-text">
              <%= t('.scripts.house.paragraph_3') %>
            </p>
          </div>
        </div>
      </div>
    </div>


    <hr />

    <div class="text-center my-5">
      <h3>
        <%= t('.donation.title') %>
      </h3>

      <p>
        <%= t('.donation.description_html') %>
      </p>

      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations" />
        <input type="hidden" name="business" value="AQEA49Z6MPEC8" />
        <input type="hidden" name="item_name" value="Support for BugYourCongressman.com. Any money not used to keep the lights on will be donated to the NAACP." />
        <input type="hidden" name="currency_code" value="USD" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </div>
  </div>
</div>
