<main role="main" class="inner cover">
  <p class="lead my-5">
    <h2>
      <%= t('.instructions.title') %>
    </h2>

    <ol>
      <li><%= t('.instructions.step_1') %></li>
      <li><%= t('.instructions.step_2') %></li>
      <li><%= t('.instructions.step_3') %></li>
      <li><%= t('.instructions.step_4') %></li>
    </ol>
  </p>

  <h2 class="cover-heading text-center my-5">
    <%= link_to '(775) 204-8432', 'tel:7752048432', class: 'text-primary' %>
  </h2>

  <div class="card my-5 text-body" >
    <div class="card-body">
      <h5 class="card-title">
        <%= t('.script.title') %>
      </h5>

      <p class="card-text">
        <%= t('.script.paragraph_1') %>
      </p>

      <p class="card-text">
        <%= t('.script.paragraph_2') %>
      </p>
    </div>
  </div>

  <hr class="border-light"/>

  <div class="text-center my-5">
    <h3>
      <%= t('.donation.title') %>
    </h3>

    <p>
      <%= t('.donation.description_html') %>
    </p>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations" />
      <input type="hidden" name="business" value="AQEA49Z6MPEC8" />
      <input type="hidden" name="item_name" value="Support for BugYourCongressman.com. Any money not used to keep the lights on will be donated to the NAACP." />
      <input type="hidden" name="currency_code" value="USD" />
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </div>
</main>