<!DOCTYPE html>
<html>
  <head>
    <title>BugYourCongressman.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:api_key] %>&libraries=places" async defer></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-custom-dark">
        <%= link_to 'BugYourCongressman', root_path, class: 'navbar-brand' %>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#"
                 id="byc-about" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">

                <%= t('.navigation.about.label') %>
              </a>

              <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="byc-about">
                <%= link_to t('.navigation.about.qualified_immunity'),
                      about_qualified_immunity_path, class: 'dropdown-item' %>

                <div class="dropdown-divider"></div>

                <%= link_to t('.navigation.about.congress'),
                      about_congress_path, class: 'dropdown-item' %>
              </div>
            </li>
          </ul>

          <ul class="navbar-nav ml-md-auto">
            <li class="nav-item dropdown">
              <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="byc-locales" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= I18n.locale %>
              </a>
              <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="byc-locales">
                <%= link_to 'English', { locale: 'en' }, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to 'Español', { locale: 'es' }, class: 'dropdown-item' %>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>

  <footer class="footer mt-auto text-center">
    <p><%= t('.footer.attributes_html') %></p>
  </footer>
</html>
