<!DOCTYPE html>
<html>
  <head>
    <title>BugYourCongressman.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cover-container container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto text-center">
        <div class="inner">
          <h3 class="masthead-brand">
            <%= link_to 'BugYourCongressman.com', root_path %>
          </h3>
          <nav class="nav nav-masthead justify-content-center">
            <%= link_to t('.navigation.qualified_immunity_about'),
                  pages_about_path, class: "nav-link #{current_class?(pages_about_path)}" %>
          </nav>
        </div>
      </header>

      <%= yield %>

      <footer class="mastfoot mt-auto text-center">
        <div class="inner">
          <p>
            <%= t('.footer.attributes_html') %>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
