<div class="card col-10 col-sm-6 col-md-3 mx-2 mt-2">
  <img src="<%= official_photo_url(official) %>" alt="Photo of <%= official.name %>"
       class="img-fluid rounded-circle mx-auto d-block mt-4" style="width: 10rem; height: 10rem; object-fit:cover;">

  <div class="card-body">
    <h5 class="card-title"><%= official.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= official.party %></h6>

    <% official.phones.each do |phone_number| %>
      <%= link_to phone_number, "tel:#{phone_number}" %><br />
    <% end %>

    <% official.emails.each do |email| %>
      <%= link_to email, "mailto:#{email}" %><br />
    <% end %>

    <% official.urls.each_with_index do |url, index| %>
        <% title = official.urls.size > 1 ? "Website #{index + 1}" : 'Website' %>
        <%= link_to title, url %><br />
    <% end %>

    <% official.channels.each do |channel| %>
      <% if channel.type.in? ['Facebook', 'Twitter'] %>
        <%= channel_link_to channel %><br />
      <% end %>
    <% end %>
  </div>
</div>