<%= form_tag congress_officials_path, method: :get, class: 'w-100' do %>
  <div class="form-row">
    <div class="form-group col-md-7 mb-2">
      <%= label_tag 'congress_official[address]', 'Address', class: 'sr-only' %>
      <%= text_field_tag 'congress_official[address]', params.dig(:congress_official, :address),
            class: 'form-control mr-md-2', placeholder: 'Enter your address...',
            autocomplete: 'off', required: true, data: { controller: 'address-autocomplete' } %>
    </div>

    <div class="form-group col mb-2">
      <%= label_tag 'congress_official[chamber]', 'Chamber', class: 'sr-only' %>
      <%= select_tag 'congress_official[chamber]',
            options_for_select(['House', 'Senate', 'Both'], params.dig(:congress_official, :chamber)),
            { class: 'form-control mr-md-2', prompt: 'Chamber...' } %>
    </div>

    <div class="form-group col mb-2">
      <%= submit_tag 'Search', class: 'btn btn-primary w-100' %>
    </div>
  </div>
<% end %>
